<div class="container">
    <div class="auth-comp">
        <a class="auth-comp-close" routerLink="/">close</a>
        <div class="auth-comp-logo">
            <p class="auth-comp-des">A unique social platform where one can post its own good deeds on every aspect.</p>
        </div>
        <div class="auth-comp-from">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="login-form form-group">
                <h2 class="auth-comp-from-title">Forgot Password?</h2>
                <p> We will send you a link to reset your password.</p>
                <p>Enter your registered email address</p>
                <div class="auth-comp-from-element" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <input type="text" class="auth-comp-from-input" placeholder="Email" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div *ngIf="!username.valid && (username.dirty || username.touched)" class="auth-comp-error help-block">Email/Phone Number is required</div>
                </div>
                <button>send reset link</button>
                <button>cancel</button>
            </form>
        </div>
    </div>
</div>