<header class="header">
	<div class="header-wrap">
		<div class="header-logo">
			<a href="#"><img src="../../assets/images/logo.png" class="header-logo-img"/></a>
		</div>
		<div class="header-search">
			<input type="text" class="header-search-input" placeholder="Type here to search..."/>
		</div>
		<div class="header-nav">
			<ul class="header-nav-wrap">
				<li class="header-nav-list">
					<a href="#" class="header-nav-link">
						<span class="header-nav-icon">
							<img src="../../assets/images/show-password.svg"/>
						</span>
						<span class="header-nav-text">Global</span>
					</a>
				</li>
				<li class="header-nav-list">
					<a href="#" class="header-nav-link">
						<span class="header-nav-icon">
							<img src="../../assets/images/show-password.svg"/>
						</span>
						<span class="header-nav-text">My Network</span>
					</a>
					</li>
				<li class="header-nav-list">
					<a href="#" class="header-nav-link">
						<span class="header-nav-icon">
							<img src="../../assets/images/show-password.svg"/>
						</span>
						<span class="header-nav-text">Interest</span>
					</a>
				</li>
				<li class="header-nav-list">
					<a href="#" class="header-nav-link">
						<span class="header-nav-icon">
							<img src="../../assets/images/close.svg"/>
						</span>
						<span class="header-nav-text">Message</span>
					</a>
				</li>
				<li class="header-nav-list">
					<a href="#" class="header-nav-link">
						<span class="header-nav-icon">
							<img src="../../assets/images/close.svg"/>
						</span>
						<span class="header-nav-text">Notification</span>
					</a>
				</li>
				<li class="header-nav-list">
					<a href="#" class="header-nav-link">
						<span class="header-nav-icon">
							<img src="../../assets/images/show-password.svg"/>
						</span>
						<span class="header-nav-text">You</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<p>
    <a class="home-login" routerLink="/register">Register</a> /
    <a class="home-login" routerLink="/login">Log In</a>/

    <a class="home-login" href="#" (click)="logout()">Log Out</a>
</p>